@model IEnumerable<CinemaObject.staff>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center" style="margin-top:24px;">Staff Management</h1>

<p style="margin: 24px 0;text-align: center;">
    <a asp-action="Create" class="btn btn-success" style="width: 168px; border-radius:30px; padding: 14px 0px;">Add New Staff</a>
</p>

<table class="table table-hover table-responsive" id="staffTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <img width="200px" src="@Url.Content(item.Image)" class="img-responsive"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.Id }, new {@class= "btn btn-success"})
                    <br />
                    <br />

                    @Html.ActionLink("Details", "Details", new { id=item.Id }, new {@class= "btn btn-primary"})

                    <br />
                    <br />
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id }, new {@class= "btn btn-danger"})
            </td>
        </tr>
}
    </tbody>
    <tfoot>
            <tr>
                <th>
                        @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                        @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                        @Html.DisplayNameFor(model => model.PhoneNum)
                </th>
                <th>
                        @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                        @Html.DisplayNameFor(model => model.Image)
                </th>
                <th>
                        @Html.DisplayNameFor(model => model.Status)
                </th>
                <th></th>
            </tr>
    </tfoot>
</table>
