@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@model HighCinema.Models.ViewModel;

@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="One Movies Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //for-mobile-apps -->
    <link href="~/assets/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/assets/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="~/assets/css/contactstyle.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/assets/css/faqstyle.css" type="text/css" media="all" />
    <link href="~/assets/css/single.css" rel='stylesheet' type='text/css' />
    <link href="~/assets/css/medile.css" rel='stylesheet' type='text/css' />
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <!-- banner-slider -->
    <link href="~/assets/css/jquery.slidey.min.css" rel="stylesheet">
    <!-- //banner-slider -->
    <!-- pop-up -->
    <link href="~/assets/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //pop-up -->
    <!-- font-awesome icons -->
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css" />
    <!-- //font-awesome icons -->
    <!-- js -->
    <script type="text/javascript" src="~/assets/js/jquery-2.1.4.min.js"></script>
    <!-- //js -->
    <!-- banner-bottom-plugin -->
    <link href="~/assets/css/owl.carousel.css" rel="stylesheet" type="text/css" media="all">
    <script src="~/assets/js/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {
            $("#owl-demo").owlCarousel({

                autoPlay: 3000, //Set AutoPlay to 3 seconds

                items: 5,
                itemsDesktop: [640, 4],
                itemsDesktopSmall: [414, 3]
            });
        });
    </script>
    <!-- //banner-bottom-plugin -->
    <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="./assets/js/move-top.js"></script>
    <script type="text/javascript" src="./assets/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->

</head>

<body>
    <style>
        .carousel-item {
            height: 32rem;
            background: #777;
            color: white;
            position: relative;
        }
    </style>
    <!-- header -->
    <div class="header">
        <div class="container">
            <div class="w3layouts_logo">
                <a asp-action="Index" asp-controller="Home">
                    <h3 style="font-size: 34px;" class="text-center">High<span>Movies</span></h3>
                </a>
            </div>
            <div class="w3_search">

                @using (Html.BeginForm("Search", "Home", FormMethod.Post))
                {

                    <input type="text" id="Search" name="Search" placeholder="Search Movie By Name" required>
                    <input type="submit" value="Go">
                }


            </div>
            <div class="w3l_sign_in_register">
                <ul>
                    <li><i class="fa fa-phone" aria-hidden="true"></i> 0845914368</li>

                    @{
                        if (@HttpContextAccessor.HttpContext.Session.GetString("Username") != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
                            </li>
                        }
                    }
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- nav -->
    <div class="movies_nav">
        <nav class="navbar navbar-default">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                <nav>
                    <ul class="nav navbar-nav" style="display: flex; justify-content: center; align-items: center;">
                        <li class="nav-item active"><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="nav-item dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Genres <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu multi-column columns-3">
                                <li>
                                    <!--Genres (action, romance, family, animation, comedy, TV-series (phim bộ), horror)-->
                                    <div class="col-sm-6">
                                        <ul class="multi-column-dropdown">
                                            <li><a asp-controller="Movie" asp-action="GetMovieByGenres" asp-route-genres="Action">Action</a></li>
                                            <li><a asp-controller="Movie" asp-action="GetMovieByGenres" asp-route-genres="Romance">Romance</a></li>
                                            <li><a asp-controller="Movie" asp-action="GetMovieByGenres" asp-route-genres="Family">Family</a></li>
                                            <li><a asp-controller="Movie" asp-action="GetMovieByGenres" asp-route-genres="Horror">Horror</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6">
                                        <ul class="multi-column-dropdown">
                                            <li><a asp-controller="Movie" asp-action="GetMovieByGenres" asp-route-genres="Animation">Animation</a></li>
                                            <li><a asp-controller="Movie" asp-action="GetMovieByGenres" asp-route-genres="Comedy">Comedy</a></li>
                                            <li><a asp-controller="Movie" asp-action="GetMovieByGenres" asp-route-genres="TV-Series">TV-Series</a></li>
                                        </ul>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                            </ul>
                        </li>
                        @{
                            if (HttpContextAccessor.HttpContext.Session.GetString("Role") == "1")
                            {
                                <li class="nav-item dropdown">
                                                                                               

                                    <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Administrator <b class="caret"></b>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Index">Account</a>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Staff" asp-action="Index">Staff</a>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Movie" asp-action="Index">Movie</a>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="FastFood" asp-action="Index">FastFood</a>
                                    </div>

                                    <ul class="dropdown-menu multi-column columns-3">
                                        <li>
                                            <!--Genres (action, romance, family, animation, comedy, TV-series (phim bộ), horror)-->
                                            <div class="col-sm-6">
                                                <ul class="multi-column-dropdown">
                                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Index">Account</a></li>
                                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Staff" asp-action="Index">Staff</a></li>
                                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Bill" asp-action="Index">Bill</a></li>
                                                </ul>
                                            </div>

                                            <div class="col-sm-6">
                                                <ul class="multi-column-dropdown">
                                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Movie" asp-action="Index">Movie</a></li>
                                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="FastFood" asp-action="Index">FastFood</a></li>
                                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Ticket" asp-action="Index">Ticket</a></li>
                                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Turnover" asp-action="Index">Turnover</a></li>
                                                </ul>
                                            </div>

                                            <div class="clearfix"></div>
                                        </li>
                                    </ul>
                                </li>
                            }
                        }
                        <!--For Contact function -->

                        <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </nav>
    </div>
    <!-- //nav -->
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">

            <div class="item active">
                <img style="width: -webkit-fill-available; height: 500px;" src="~/img/imgBackground/1.jpg" alt="...">
            </div>


            <div class="item">
                <img style="width: -webkit-fill-available; height: 500px;" src="~/img/imgBackground/2.jpg" alt="...">
            </div>

            <div class="item">
                <img style="width: -webkit-fill-available; height: 500px;" src="~/img/imgBackground/3.jpg" alt="...">
            </div>



        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <script>
        $('.carousel').carousel({
            interval: 5000,
        })
    </script>
    <!-- //banner -->
    <!-- banner-bottom -->
    <div class="banner-bottom">
        <div class="container">
            <div class="w3_agile_banner_bottom_grid">
                <div id="owl-demo" class="owl-carousel owl-theme">
                    @foreach (var item in Model.movieList)
                    {
                        <div class="item">
                            <div class="w3l-movie-gride-agile w3l-movie-gride-agile1">
                                <a asp-action="Booking" asp-controller="Booking" asp-route-id="@item.Id" class="hvr-shutter-out-horizontal">
                                    <img src="@Url.Content(item.Image)" style="height: 259px; width: 175px;" title="album-name" class="img-responsive" alt=" " />
                                    <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
                                </a>
                                <div class="mid-1 agileits_w3layouts_mid_1_home">
                                    <div class="w3l-movie-text">
                                        <h6><a asp-controller="Movie" asp-action="Details" asp-route-id="@item.Id">@item.Name</a></h6>
                                    </div>
                                    <div class="mid-2 agile_mid_2_home">
                                        <p>2016</p>
                                        <div class="block-stars">
                                            <ul class="w3l-ratings">
                                                <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="ribben">
                                    <p>NEW</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- //banner-bottom -->
    <!-- general -->
    <div class="general">
        <h4 class="latest-text w3_latest_text">Featured Movies</h4>
        <div class="container">
            <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                <ul id="myTab" class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Featured</a></li>
                    <li role="presentation"><a href="#imdb" role="tab" id="imdb-tab" data-toggle="tab" aria-controls="imdb" aria-expanded="false">Last Added</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
                        <div class="w3_agile_featured_movies">
                            @foreach (var item in Model.movieList.Where(m => m.Rating >= 8))
                            {
                                <div class="col-md-2 w3l-movie-gride-agile">
                                    <a asp-action="Booking" asp-controller="Booking" asp-route-id="@item.Id" class="hvr-shutter-out-horizontal">
                                        <img src="@Url.Content(item.Image)" style="height: 259px; width: 175px;" title="album-name" class="img-responsive" alt=" " />
                                        <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
                                    </a>
                                    <div class="mid-1 agileits_w3layouts_mid_1_home">
                                        <div class="w3l-movie-text">
                                            <h6><a asp-action="Booking" asp-controller="Booking" asp-route-id="@item.Id">@item.Name</a></h6>
                                        </div>
                                        <div class="mid-2 agile_mid_2_home">
                                            <p>@item.Duration</p>
                                            <div class="block-stars">@item.Rating</div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <div class="ribben">
                                        <p>NEW</p>
                                    </div>
                                </div>
                            }
                            <div class="clearfix"> </div>
                        </div>
                    </div>



                    @foreach (var item in Model.movieList.Reverse())
                    {
                        <div role="tabpanel" class="tab-pane fade" id="imdb" aria-labelledby="imdb-tab">
                            <div class="col-md-2 w3l-movie-gride-agile">
                                <a asp-action="Booking" asp-controller="Booking" asp-route-id="@item.Id" class="hvr-shutter-out-horizontal">
                                    <img src="@Url.Content(item.Image)" style="height: 259px; width: 175px;" title="album-name" class="img-responsive" alt=" " />
                                    <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
                                </a>
                                <div class="mid-1 agileits_w3layouts_mid_1_home">
                                    <div class="w3l-movie-text">
                                        <h6><a asp-action="Booking" asp-controller="Booking" asp-route-id="@item.Id">@item.Name</a></h6>
                                    </div>
                                    <div class="mid-2 agile_mid_2_home">
                                        <p>@item.Duration</p>
                                        <div class="block-stars">
                                            @item.Rating
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="ribben">
                                    <p>NEW</p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- //general -->
    <!-- Latest-tv-series -->
    <div class="Latest-tv-series">
        <h4 class="latest-text w3_latest_text w3_home_popular">Most Popular Movies</h4>
        <div class="container">
            <section class="slider">
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <div class="agile_tv_series_grid">
                                @foreach (var item in Model.movieList.Where(m => m.Id == 2))
                                {
                                    <div class="col-md-5 agile_tv_series_grid_left">
                                        <div class="w3ls_market_video_grid1">
                                            <img src="~/img/imgBackground/spiderman.jpg" style="height: 371px;" alt=" " class="img-responsive" />
                                            <a class="w3_play_icon" href="#small-dialog">
                                                <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
                                            </a>
                                        </div>
                                    </div>
                                    <div style="width: 57%;" st class="col-md-7 agile_tv_series_grid_right">
                                        <p class="fexi_header">@item.Name</p>
                                        <p class="fexi_header_para">
                                            <span class="conjuring_w3">Story Line<label>:</label></span>
                                            <span style="width: 413px; color: white; margin-bottom: 20px; font-size: 13px;">@item.Description</span>

                                        </p>
                                        <p class="fexi_header_para"><span>Duration<label style="top: 89%">:</label></span>@item.Duration </p>
                                        <p class="fexi_header_para">
                                            <span>Genres<label>:</label> </span>
                                            <a asp-action="Booking" asp-controller="Booking" asp-route-id="@item.Id">@item.Genres</a>
                                        </p>
                                        <p class="fexi_header_para fexi_header_para1">
                                            <span>Star Rating<label>:</label></span>
                                            <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
                                        </p>
                                    </div>
                                    <div class="clearfix"> </div>

                                }
                            </div>

                            <div class="agileinfo_flexislider_grids">
                                @foreach (var item in Model.mostPopularMovies)
                                {
                                    <div class="col-md-2 w3l-movie-gride-agile">
                                        <a asp-action="Booking" asp-controller="Booking" asp-route-id="@item.Id" class="hvr-shutter-out-horizontal">
                                            <img src="@Url.Content(item.Image)" style="height: 259px;" title="album-name" class="img-responsive" alt=" " />
                                            <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
                                        </a>
                                        <div class="mid-1 agileits_w3layouts_mid_1_home">
                                            <div class="w3l-movie-text">
                                                <h6><a href="single.html">@item.Name</a></h6>
                                            </div>
                                            <div class="mid-2 agile_mid_2_home">
                                                <p>2016</p>
                                                <div class="block-stars">
                                                    <ul class="w3l-ratings">
                                                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                                                    </ul>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                        <div class="ribben">
                                            <p>NEW</p>
                                        </div>
                                    </div>
                                }
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <!-- flexSlider -->
            <link rel="stylesheet" href="~/assets/css/flexslider.css" type="text/css" media="screen" property="" />
            <script defer src="~/assets/js/jquery.flexslider.js"></script>
            <script type="text/javascript">
                $(window).load(function () {
                    $('.flexslider').flexslider({
                        animation: "slide",
                        start: function (slider) {
                            $('body').removeClass('loading');
                        }
                    });
                });
            </script>
            <!-- //flexSlider -->
        </div>
    </div>
    <!-- pop-up-box -->
    <script src="~/assets/js/jquery.magnific-popup.js" type="text/javascript"></script>
    <!--//pop-up-box -->
    <div id="small-dialog" class="mfp-hide">
        <iframe src="https://player.vimeo.com/video/164819130?title=0&byline=0"></iframe>
    </div>
    <div id="small-dialog1" class="mfp-hide">
        <iframe src="https://player.vimeo.com/video/148284736"></iframe>
    </div>
    <div id="small-dialog2" class="mfp-hide">
        <iframe src="https://player.vimeo.com/video/165197924?color=ffffff&title=0&byline=0&portrait=0"></iframe>
    </div>
    <script>
        $(document).ready(function () {
            $('.w3_play_icon,.w3_play_icon1,.w3_play_icon2').magnificPopup({
                type: 'inline',
                fixedContentPos: false,
                fixedBgPos: true,
                overflowY: 'auto',
                closeBtnInside: true,
                preloader: false,
                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });

        });
    </script>
    <!-- //Latest-tv-series -->
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="w3ls_footer_grid">
                <div class="col-md-6 w3ls_footer_grid_left">
                    <div class="w3ls_footer_grid_left1">
                        <h2>Subscribe to us</h2>
                        <div class="w3ls_footer_grid_left1_pos">
                            <form action="#" method="post">
                                <input type="email" name="email" placeholder="Your email..." required="">
                                <input type="submit" value="Send">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 w3ls_footer_grid_right">
                    <a href="index.html">
                        <h2 style="padding-right: 77px;
                        font-size: 40px;
                        width: 160px;">
                            High
                            <span>Movies</span>
                        </h2>
                    </a>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-5 w3ls_footer_grid1_left">
                <p>
                    &copy; 2022 High Movies. All rights reserved | Design by <a href="#">HighGroup</a>
                </p>
            </div>
            <div class="col-md-7 w3ls_footer_grid1_right">
                <ul>
                    <li>
                        <a href="genres.html">Movies</a>
                    </li>
                    <li>
                        <a href="faq.html">FAQ</a>
                    </li>
                    <li>
                        <a href="horror.html">Genres</a>
                    </li>
                    <li>
                        <a href="contact.html">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //footer -->
    <!-- Bootstrap Core JavaScript -->
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    <!-- //Bootstrap Core JavaScript -->
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <!-- //here ends scrolling icon -->
</body>

</html>