@model IEnumerable<CinemaObject.Account>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center" style="margin-top:24px;">Account Management</h1>

<p style="margin: 24px 0;text-align: center;">
    <a asp-action="Create" class="btn btn-success" style="width: 168px; border-radius:30px; padding: 14px 0px;">Add New Account</a>
</p>

<table class="table table-hover" id="accountTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idpeople)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idpeople)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }, new {@class= "btn btn-success"})
                <br />
                <br />

                @Html.ActionLink("Details", "Details", new { id=item.Id }, new {@class= "btn btn-primary"})

                <br />
                <br />
                @Html.ActionLink("Delete", "Delete", new { id=item.Id }, new {@class= "btn btn-danger"})
            </td>
        </tr>
}
    </tbody>
    <tfoot>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idpeople)
            </th>
            <th></th>
        </tr>
    </tfoot>
</table>
